@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Thai:wght@100..900&display=swap');
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    font-size: 16px;
    line-height: 1.3;
    font-family: Noto Serif Thai;
    overflow: hidden;
    background-color: #fff;
    background-image: url("https://assets.website-files.com/63285965f554791ee9971f97/632c60c6edb43c4b2018fe6b_Noise2.webp");
}

.wrapper {
    width: 400%;
    height: 100%;
    display: flex;
    flex-wrap: nowrap;
}

.projectname {
    font-size: 50px;
    position: fixed;
    z-index: 10;
    top: 40%;
    left: 3rem;
    line-height: 0.9;
}

.linestart {
    background-color: rgb(15, 55, 33);
    height: 1rem;
    position: absolute;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);
}

section {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

section.character::before {
    content: '';
    width: 2rem;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
}

.block {
    width: 50%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    transform: translateX(-100%);
}

.ele1::before,
.ele1 .block {
    background-color: #ffc107;
    background-image: url("https://assets.website-files.com/63285965f554791ee9971f97/632c60c6edb43c4b2018fe6b_Noise2.webp");
}

.ele2::before,
.ele2 .block {
    background-color: #83cdc1;
    background-image: url("https://assets.website-files.com/63285965f554791ee9971f97/632c60c6edb43c4b2018fe6b_Noise2.webp");
}

.ele3::before,
.ele3 .block {
    background-color: #83cdc1;
    background-image: url("https://assets.website-files.com/63285965f554791ee9971f97/632c60c6edb43c4b2018fe6b_Noise2.webp");
}

.ele4::before,
.ele4 .block {
    background-color: #83cdc1;
    background-image: url("https://assets.website-files.com/63285965f554791ee9971f97/632c60c6edb43c4b2018fe6b_Noise2.webp");
}

.caption {
    position: absolute;
    bottom: 4rem;
    left: 4rem;
    width: 30%;
    font-weight: 400;
    color: #444;
    font-family: Noto Serif Thai;
    transform: translate(100%, 100%);
}

.character img {
    position: relative;
    top: 20%;
    left: 20%;
    z-index: 15;
    height: 80vh;
    width: auto;
    transform: translateY(-100%);
}

.huge-text {
    font-size: 100px;
    width: 100%;
    text-align: center;
    color: #f52b2b;
    position: absolute;
    top: 30%;
    left: 0;
    transform: translateY(100%);
    font-weight: 700;
}

.nickname {
    position: absolute;
    top: 4rem;
    right: 4rem;
    font-size: 3rem;
    text-align: right;
    transform: translateY(-200%);
}

.nickname span {
    display: block;
    font-size: 70%;
    color: #fff;
}

.quote {
    position: absolute;
    bottom: 4rem;
    left: 4rem;
    font-size: 2rem;
    width: 30%;
    text-align: left;
    transform: translateY(200%);
}

.quote::before,
.quote::after {
    content: '';
    color: #fff;
}

img {
    max-width: 100%;
    margin-top: 20px;
    height: auto;
    display: block;
}

.animated-section {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.animated-section:nth-child(1) {
    background-color: #e91e63;
}

.animated-section:nth-child(2) {
    background-color: #e2b815;
}

.animated-section:nth-child(3) {
    background-color: #204233;
}

.animated-section .text {
    position: absolute;
    z-index: 1;
    bottom: 5%;
    text-align: center;
    color: #000000;
}

.animated-section .text h2 {
    font-size: 7rem;
    text-transform: uppercase;
}

.animated-section .text h4 {
    font-size: 2rem;
    text-transform: uppercase;
    margin-bottom: 1.5rem;
    display: inline-block;
    padding: 0.5rem 1rem;
}


/*.animated-section .text h2::after {
    content: '';
    animation: blink .5s steps(5, start) infinite;
}*/

.animated-section .text h4::before {
    content: ' ';
}

.animated-section .text h4::after {
    content: ' ';
}

.animated-section .text p {
    font-size: 1rem;
    width: 50%;
    margin: auto;
    top: 10%;
    font-family: Noto Serif Thai;
}

@keyframes blink {
    to {
        visibility: hidden;
    }
}

.pattern-container {
    color: #fff;
    position: relative;
    overflow: hidden;
}

.pattern-container::before {
    content: '';
    background: rgb(0, 0, 0, 5);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

* {
    margin: o;
    padding: 0;
    box-sizing: border-box;
}

.pattern-container h1 {
    margin: 0.3rem;
    font-size: 3rem;
}

.title {
    text-align: center;
    background-color: rgb(0, 0, 0, 8);
    position: relative;
}

.title h3 {
    margin: 1em 0;
}

.title p {
    color: #fff;
    font-size: 1.3rem;
    letter-spacing: 2px;
}

.timeline {
    margin: 5em auto;
    max-width: 34.15em;
}

.line-timeline {
    position: absolute;
    top: 50%;
    width: 4px;
    height: 100%;
    background-color: #fff;
}

.checkpoint {
    height: 30em;
    max-width: 34em;
    padding: 6em 0;
    display: flex;
    align-items: center;
    position: relative;
}

.pattern img {
    position: relative;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: 1;
}

.checkpoint .text {
    border: 1px solid #6b6b6b;
    border-radius: 1em;
    padding: 2em;
    background-color: rgb(0, 0, 0, 0.5);
}

.checkpoint p {
    line-height: 27px;
    color: #fff;
}

.checkpoint:nth-child(odd) {
    padding-left: 3em;
    transform: translateX(17em);
}

.checkpoint:nth-child(even) {
    padding-right: 3em;
    transform: translateX(-17em);
}

.checkpoint:nth-child(odd)::before .checkpoint:nth-child(evena)::before {
    content: '';
    background: #fff;
    width: 3em;
    height: 3px;
    position: absolute;
    top: 50%;
}

.checkpoint:nth-child(odd) .text::before {
    left: -3em;
}

.checkpoint:nth-child(even).text::before {
    left: -3em;
}

.checkpoint:nth-child(odd) .line-timeline {
    left: -2px;
}

.checkpoint:nth-child(even).line-timeline {
    left: 2px;
}

.checkpoint:nth-child(odd) .text::after .checkpoint:nth-child(even).text::after {
    content: '';
    background-color: #fff;
    border-radius: 50%;
    width: 1em;
    height: 1em;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.checkpoint:nth-child(odd) .text::after {
    left: -57px;
}

.checkpoint:nth-child(even).text::after {
    right: -57px;
}

@media screen and (max-width: 1150px) {
    .timeline {
        width: 80vw;
    }
    .timeline .checkpoint {
        width: 100%;
        transform: none;
        padding-left: 0;
        padding-right: 0;
    }
    .timeline .checkpoint .line-timeline {
        right: initial;
        left: 50%;
        transform: translateX(-50%);
    }
    .timeline .checkpoint .text::before {
        width: 3px;
        height: 4em;
        top: -4em;
        transform: translateX(-50%);
    }
    .timeline .checkpoint .text::after {
        top: -4.5px;
        left: 50%;
        transform: translateX(-50%);
    }
}

div#gallery-box {
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    width: 70%;
    height: auto;
    aspect-ratio: 16/9;
    overflow: hidden;
}

div.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 1rem;
    z-index: 1;
    filter: drop-shadow(0px 0px 10px #000a);
    pointer-events: none;
    user-select: none;
}

div.overlay h1 {
    font-family: Noto Serif Thai;
    font-size: 7rem;
    font-weight: bolder;
    margin: 0;
    color: #fff;
}

div.overlay a {
    font-family: Noto Serif Thai;
    color: #ddd;
    font-size: 0.8rem;
    margin: 0;
    text-decoration: none;
    color: #fff;
    position: relative;
    overflow: hidden;
    padding-bottom: 0.5rem;
    box-sizing: content-box;
    pointer-events: all;
    cursor: pointer;
    text-transform: uppercase;
}

div.overlay a ::after {
    content: "";
    position: absolute;
    bottom: 0.25rem;
    left: -5%;
    height: 2px;
    overflow: hidden;
    background-color: #fff;
    transform: translateX(-100%);
}

div.overlay a:hover::after {
    transform: translateX(0);
    transition: 0.4s ease;
}

div.overlay a:hover::after {
    transform: translateX(-100%);
    transition: 0.4s ease;
}

div.gallery {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    height: 100%;
    width: 100%;
    position: relative;
    transform: none;
    justify-content: center;
    padding: 1rem;
    transition: 2s ease;
    background-color: #fff;
}

div.row {
    display: flex;
    flex-direction: row;
    column-gap: 2rem;
    width: 100%;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: stretch;
}

div.item {
    background-color: #000000;
    filter: grayscale(1) brightness(0.5);
    transition: 1s;
    height: 14.98rem;
    max-width: 100%;
    min-width: calc((25% - calc(6rem / 4))/1.5);
    width: fit-content;
    overflow: hidden;
    position: relative;
}

div.item:hover {
    filter: grayscale(0);
}

div.item img {
    width: 120%;
    min-width: 198%;
    height: 200%;
    top: 50%;
    left: 50%;
    object-fit: cover;
    position: absolute;
    transform: translate(-50%, -50%);
    transition: 2s ease;
}

.item nr1 {
    width: 23%;
}

.item nr2 {
    width: 19%;
}

.item nr3 {
    width: 32%;
}

.item nr4 {
    width: 24%;
}

.item nr6 {
    width: 39%;
}

.item nr7 {
    width: 23%;
}

.item nr8 {
    width: 23%;
}

.item nr9 {
    width: 23%;
}

.item nr10 {
    width: 23%;
}

.item nr11 {
    width: 23%;
}

.item nr12 {
    width: 23%;
}

.item nr13 {
    width: 23%;
}

.item nr14 {
    width: 23%;
}

.item nr16 {
    width: 23%;
}

.item nr17 {
    width: 23%;
}

.item nr18 {
    width: 23%;
}

.item nr19 {
    width: 23%;
}

@media screen and (max-width:800px) {
    div.row div.item {
        height: 9rem;
    }
    div#credit {
        opacity: 0;
        visibility: hidden;
    }
}

div#credits {
    font-family: Noto Serif Thai;
    font-family: 0.75rem;
    opacity: 0.5;
    transition: 0.4s ease;
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    display: flex;
    flex-direction: column;
    row-gap: 0.4rem;
}

div#credits:hover {
    opacity: 1;
}

div#credits a {
    color: #fff;
}

.Container {
    top: 30px;
    width: 100%;
    position: relative;
    padding: 0 30px;
}

.Main {
    top: 30px;
    padding: 300px 0;
}

.TopTitle {
    padding: 5%;
    text-align: center;
}

.FirstTitle {
    top: 30px;
    font-size: 40px;
    color: #fff;
}

.secTitle {
    top: 10%;
    color: #ffeb3b;
    font-size: 60px
}

.ag-timeline_item {
    margin: 0 0 50px;
    position: relative;
}

.ag-timeline_item:nth-child(2n) {
    text-align: right;
}

.ag-timeline {
    display: inline-block;
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    position: relative;
}

.ag-timeline_line {
    width: 8px;
    background-color: #fff;
    position: absolute;
    top: 2px;
    left: 50%;
    bottom: 0;
    border-radius: 30px;
    overflow: hidden;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
}

.ag-timeline_line-progress {
    width: 100%;
    height: 20%;
    border-radius: 30px;
    background-color: #204233;
}

.ag-timeline-card_box {
    padding: 0 0 20px 50%;
}

.ag-timeline_item:nth-child(2n) .ag-timeline-card_box {
    padding: 0 50% 20px 0;
}

.ag-timeline-card_point-box {
    display: inline-block;
    margin: 0 14px 0 -28px;
}

.ag-timeline_item:nth-child(2n) .ag-timeline-card_point-box {
    margin: 0 -28px 0 14px;
}

.ag-timeline-card_point {
    height: 50px;
    line-height: 50px;
    width: 50px;
    border: 3px solid #820300;
    background-color: #820300;
    text-align: center;
    font-family: Noto Serif Thai;
    font-size: 20px;
    color: #FFF;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.js-ag-active .ag-timeline-card_point {
    color: #fff;
    align-items: center;
    background-color: #820300;
}

.ag-timeline-card_meta-box {
    display: inline-block;
}

.ag-timeline-card_meta {
    margin: 10px 0 0;
    font-family: Noto Serif Thai;
    font-weight: bold;
    font-size: 28px;
    color: #820300;
}

.ag-timeline-card_meta h6 {
    margin: 10px 0 0 3px;
    padding-left: 35px;
    width: 500px;
    font-family: Noto Serif Thai;
    font-size: 14px;
    color: #820300;
}

.ag-timeline-card_item {
    display: inline-block;
    width: 45%;
    margin: -77px 0 0;
    background-color: transparent;
    opacity: 0;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, .5);
    -moz-box-shadow: 0 0 0 0 rgba(0, 0, 0, .5);
    -o-box-shadow: 0 0 0 0 rgba(0, 0, 0, .5);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, .5);
    -webkit-transition: -webkit-transform .5s, opacity .5s;
    -moz-transition: -moz-transform .5s, opacity .5s;
    -o-transition: -o-transform .5s, opacity .5s;
    transition: transform .5s, opacity .5s;
    position: relative;
}

.ag-timeline_item:nth-child(2n+1) .ag-timeline-card_item {
    -webkit-transform: translateX(-200%);
    -moz-transform: translateX(-200%);
    -ms-transform: translateX(-200%);
    -o-transform: translateX(-200%);
    transform: translateX(-200%);
}

.ag-timeline_item:nth-child(2n) .ag-timeline-card_item {
    -webkit-transform: translateX(200%);
    -moz-transform: translateX(200%);
    -ms-transform: translateX(200%);
    -o-transform: translateX(200%);
    transform: translateX(200%);
}

.js-ag-active.ag-timeline_item:nth-child(2n+1) .ag-timeline-card_item,
.js-ag-active.ag-timeline_item:nth-child(2n) .ag-timeline-card_item {
    opacity: 1;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
}

.ag-timeline-card_arrow {
    height: 18px;
    width: 18px;
    margin-top: 20px;
    background-color: #03a9f4;
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.ag-timeline_item:nth-child(2n+1) .ag-timeline-card_arrow {
    margin-left: calc(-18px / 2);
    margin-right: calc(-18px / 2);
}

.ag-timeline_item:nth-child(2n) .ag-timeline-card_arrow {
    margin-left: -10px;
    right: auto;
    left: 0;
}

.ag-timeline-card_img {
    width: 100%;
    /* border: 1px solid #820300; */
}


/*--- Responsive Code ---*/

@media only screen and (max-width: 979px) {
    .ag-timeline_line {
        left: 30px;
    }
    .ag-timeline_item:nth-child(2n) {
        text-align: left;
    }
    .ag-timeline-card_box,
    .ag-timeline_item:nth-child(2n) .ag-timeline-card_box {
        padding: 0 0 20px;
    }
    .ag-timeline-card_meta-box {
        display: none;
    }
    .ag-timeline-card_point-box,
    .ag-timeline_item:nth-child(2n) .ag-timeline-card_point-box {
        margin: 0 0 0 8px;
    }
    .ag-timeline-card_point {
        height: 40px;
        line-height: 40px;
        width: 40px;
    }
    .ag-timeline-card_item {
        width: auto;
        margin: -65px 0 0 75px
    }
    .ag-timeline_item:nth-child(2n+1) .ag-timeline-card_item,
    .ag-timeline_item:nth-child(2n) .ag-timeline-card_item {
        -webkit-transform: translateX(200%);
        -moz-transform: translateX(200%);
        -ms-transform: translateX(200%);
        -o-transform: translateX(200%);
        transform: translateX(200%);
    }
    .ag-timeline_item:nth-child(2n+1) .ag-timeline-card_arrow {
        right: auto;
        left: 0;
    }
    .ag-timeline-card_arrow {
        margin-top: 12px;
    }
}

@media only screen and (max-width: 767px) {
    .Container {
        width: 96%;
    }
    .ag-timeline-card_img {
        height: auto;
        width: auto;
    }
}

@media only screen and (max-width: 639px) {
    .secTitle {
        font-size: 60px;
    }
}

@media (min-width: 768px) and (max-width: 979px) {
    .Container {
        width: 750px;
    }
}

@media (min-width: 980px) and (max-width: 1161px) {
    .Container {
        width: 960px;
    }
}


/*--- Responsive Code End ---*/

.ag-timeline-card_item {
    display: inline-block;
    width: 45%;
    margin: -77px 0 0;
    background-color: transparent;
    opacity: 0;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, .5);
    -moz-box-shadow: 0 0 0 0 rgba(0, 0, 0, .5);
    -o-box-shadow: 0 0 0 0 rgba(0, 0, 0, .5);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, .5);
    -webkit-transition: -webkit-transform .5s, opacity .5s;
    -moz-transition: -moz-transform .5s, opacity .5s;
    -o-transition: -o-transform .5s, opacity .5s;
    transition: transform .5s, opacity .5s;
    position: relative;
}

.ag-timeline_item:nth-child(2n+1) .ag-timeline-card_item {
    -webkit-transform: translateX(-200%);
    -moz-transform: translateX(-200%);
    -ms-transform: translateX(-200%);
    -o-transform: translateX(-200%);
    transform: translateX(-200%);
}

.ag-timeline_item:nth-child(2n) .ag-timeline-card_item {
    -webkit-transform: translateX(200%);
    -moz-transform: translateX(200%);
    -ms-transform: translateX(200%);
    -o-transform: translateX(200%);
    transform: translateX(200%);
}

.js-ag-active.ag-timeline_item:nth-child(2n+1) .ag-timeline-card_item,
.js-ag-active.ag-timeline_item:nth-child(2n) .ag-timeline-card_item {
    opacity: 1;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
}

.ag-timeline-card_arrow {
    height: 18px;
    width: 18px;
    margin-top: 20px;
    background-color: #03a9f4;
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.ag-timeline_item:nth-child(2n+1) .ag-timeline-card_arrow {
    margin-left: calc(-18px / 2);
    margin-right: calc(-18px / 2);
}

.ag-timeline_item:nth-child(2n) .ag-timeline-card_arrow {
    margin-left: -10px;
    right: auto;
    left: 0;
}

.ag-timeline-card_img {
    width: 100%;
    /* border: 1px solid #820300; */
}


/*--- Responsive Code ---*/

@media only screen and (max-width: 979px) {
    .ag-timeline_line {
        left: 30px;
    }
    .ag-timeline_item:nth-child(2n) {
        text-align: left;
    }
    .ag-timeline-card_box,
    .ag-timeline_item:nth-child(2n) .ag-timeline-card_box {
        padding: 0 0 20px;
    }
    .ag-timeline-card_meta-box {
        display: none;
    }
    .ag-timeline-card_point-box,
    .ag-timeline_item:nth-child(2n) .ag-timeline-card_point-box {
        margin: 0 0 0 8px;
    }
    .ag-timeline-card_point {
        height: 40px;
        line-height: 40px;
        width: 40px;
    }
    .ag-timeline-card_item {
        width: auto;
        margin: -65px 0 0 75px
    }
    .ag-timeline_item:nth-child(2n+1) .ag-timeline-card_item,
    .ag-timeline_item:nth-child(2n) .ag-timeline-card_item {
        -webkit-transform: translateX(200%);
        -moz-transform: translateX(200%);
        -ms-transform: translateX(200%);
        -o-transform: translateX(200%);
        transform: translateX(200%);
    }
    .ag-timeline_item:nth-child(2n+1) .ag-timeline-card_arrow {
        right: auto;
        left: 0;
    }
    .ag-timeline-card_arrow {
        margin-top: 12px;
    }
}

@media only screen and (max-width: 767px) {
    .Container {
        width: 96%;
    }
    .ag-timeline-card_img {
        height: auto;
        width: auto;
    }
}

@media only screen and (max-width: 639px) {
    .secTitle {
        font-size: 60px;
    }
}

@media (min-width: 768px) and (max-width: 979px) {
    .Container {
        width: 750px;
    }
}

@media (min-width: 980px) and (max-width: 1161px) {
    .Container {
        width: 960px;
    }
}


/*--- Responsive Code End ---*/

.overflow-hidden.mod--img-painter {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 17.6875rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-transition: .8s cubic-bezier(.215, .61, .355, 1);
    transition: .8s cubic-bezier(.215, .61, .355, 1)
}

.overflow-hidden.mod--img-painter.active {
    height: 29.375rem
}

.section.mod--painter {
    overflow: hidden;
    padding-bottom: 11.625rem;
    background-color: #9B4444;
    background-image: url("https://assets.website-files.com/63285965f554791ee9971f97/632964cdaf732278e755cafb_Noise.webp");
    background-position: 0 0;
    background-size: 3.125rem;
    color: #fcf9eb
}

.swiper {
    position: relative;
    width: 100%
}

.swiper.mod--painter {
    overflow: visible;
    min-height: 34.375rem
}

.swiper-slide.mod--painter {
    width: 30rem;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto
}

.img.mod--painter {
    position: relative;
    display: block;
    width: 30rem;
    height: 28.125rem;
    max-width: none;
    -webkit-transition: .8s cubic-bezier(.215, .61, .355, 1);
    transition: .8s cubic-bezier(.215, .61, .355, 1);
    -o-object-fit: cover;
    object-fit: cover
}

.img.mod--painter.active {
    width: 31.875rem;
    height: 30rem
}

.text-wrap.mod--painter {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: 1.875rem;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center
}

.painter__arrow {
    position: absolute;
    bottom: -4.375rem;
    z-index: 5;
    cursor: pointer
}

.painter__arrow.mod--prev {
    left: 0;
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg)
}

.painter__arrow.mod--next {
    right: 0
}

.painter__arrow-ico {
    width: 5.5rem;
    -webkit-transition: .4s;
    transition: .4s
}

.link {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-transition: .2s;
    transition: .2s;
    color: #fcf9eb;
    font-size: .875rem;
    text-align: center;
    text-transform: uppercase
}

.link.mod--btn {
    width: 7.875rem;
    height: 2.625rem;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto
}

.link.mod--btn.mod--header {
    margin-right: -2.5rem
}

.link.mod--nav:hover {
    color: #f3471e
}

.link-oval {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    border: .0625rem solid hsla(0, 0%, 100%, .4);
    border-radius: 50%;
    -webkit-transform: rotate(-7deg);
    -ms-transform: rotate(-7deg);
    transform: rotate(-7deg)
}

.link-oval-hover {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: -.0625rem;
    border: .0625rem solid #f3471e;
    border-radius: 50%;
    -webkit-transition: .5s;
    transition: .5s
}

.text-anim {
    display: block
}

.text-anim.mod--absolute {
    position: absolute;
    left: 0;
    bottom: 1.2rem
}

.span-anim {
    position: relative;
    bottom: 0;
    display: inline-block;
    -webkit-transition: color .2s, bottom .4s cubic-bezier(.215, .61, .355, 1), top .4s cubic-bezier(.215, .61, .355, 1);
    transition: color .2s, bottom .4s cubic-bezier(.215, .61, .355, 1), top .4s cubic-bezier(.215, .61, .355, 1)
}

.span-anim.mod--up {
    bottom: -1.2rem
}

.overflow-hidden {
    position: relative;
    overflow: hidden
}

.overflow-hidden.mod--img-painter {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 17.6875rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-transition: .8s cubic-bezier(.215, .61, .355, 1);
    transition: .8s cubic-bezier(.215, .61, .355, 1)
}

.overflow-hidden.mod--img-painter.active {
    height: 29.375rem
}

.anim-wrap {
    position: relative
}

.w-inline-block {
    max-width: 100%;
    display: inline-block
}

.swiper-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch
}

.link:hover .span-anim.mod--down {
    bottom: -1.2rem
}

.link:hover .span-anim.mod--up {
    bottom: 0rem
}

.link:hover .link-oval-hover {
    -webkit-transform: rotate(7deg);
    -ms-transform: rotate(7deg);
    transform: rotate(7deg);
    background: #f3471e;
}

.hero__slider-nav-wrap:has(.hero__slider-nav-arrow:hover) .span-anim.mod--down {
    bottom: -1.2rem
}

.hero__slider-nav-wrap:has(.hero__slider-nav-arrow:hover) .span-anim.mod--up {
    bottom: 0rem
}

.hero__text-wrap {
    position: absolute
}

.content {
    position: relative;
    z-index: 2;
    width: 100%;
    max-width: 77.5rem;
    margin-right: auto;
    margin-left: auto
}


/*Reset buttons, and links styles*/

a {
    color: inherit;
    text-decoration: inherit;
    font-size: inherit;
}


/*Apply "..." after 3 lines of text */

.text-style-3lines {
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}


/*Apply "..." after 2 lines of text */

.text-style-2lines {
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.remodal.remodal--global {
    position: relative;
    overflow: hidden;
    width: 100%;
    max-width: 37.25rem;
    margin-right: auto;
    margin-left: auto;
    padding: 0;
    background-color: #fcf9eb;
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
    text-align: left
}

@media screen and (max-width:767px) {
    h1 {
        font-size: 2.5rem
    }
    h2 {
        font-size: 2rem
    }
    h3 {
        font-size: 1.5rem
    }
    h4 {
        font-size: 1rem
    }
    .fs-styleguide_row.is-for-social-icons {
        -ms-grid-rows: auto auto;
        grid-template-rows: auto auto
    }
    .fs-styleguide_3-col {
        -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr
    }
    .fs-styleguide_color-sample {
        padding: 2.5rem 2rem
    }
    .text-size-large {
        font-size: 1.25rem
    }
    .fs-styleguide_section-type {
        font-size: .875rem
    }
    .hide-mobile-landscape {
        display: none
    }
    .spacing-clean {
        margin: 0;
        padding: 0
    }
    .page-padding {
        padding-right: 1.25rem;
        padding-left: 1.25rem
    }
    .show-mobile-landscape {
        display: block
    }
    .max-width-full-mobile-landscape {
        width: 100%;
        max-width: none
    }
    .margin-medium {
        margin: 1.25rem
    }
    .margin-large {
        margin: 1.5rem
    }
    .margin-xlarge {
        margin: 2rem
    }
    .margin-xxlarge {
        margin: 3rem
    }
    .margin-huge {
        margin: 3.5rem
    }
    .margin-xhuge {
        margin: 4rem
    }
    .margin-xxhuge {
        margin: 4.5rem
    }
    .padding-medium {
        padding: 1.25rem
    }
    .padding-large {
        padding: 1.5rem
    }
    .padding-xlarge {
        padding: 2rem
    }
    .padding-xxlarge {
        padding: 3rem
    }
    .padding-huge {
        padding: 3.5rem
    }
    .padding-xhuge {
        padding: 4rem
    }
    .padding-xxhuge {
        padding: 4.5rem
    }
    .margin-top {
        margin-right: 0;
        margin-bottom: 0;
        margin-left: 0
    }
    .margin-bottom {
        margin-top: 0;
        margin-right: 0;
        margin-left: 0
    }
    .margin-left {
        margin-top: 0;
        margin-right: 0;
        margin-bottom: 0
    }
    .margin-right {
        margin-top: 0;
        margin-bottom: 0;
        margin-left: 0
    }
    .margin-vertical {
        margin-right: 0;
        margin-left: 0
    }
    .margin-horizontal {
        margin-top: 0;
        margin-bottom: 0
    }
    .padding-top {
        padding-right: 0;
        padding-bottom: 0;
        padding-left: 0
    }
    .padding-bottom {
        padding-top: 0;
        padding-right: 0;
        padding-left: 0
    }
    .padding-left {
        padding-top: 0;
        padding-right: 0;
        padding-bottom: 0
    }
    .padding-right {
        padding-top: 0;
        padding-bottom: 0;
        padding-left: 0
    }
    .padding-vertical {
        padding-right: 0;
        padding-left: 0
    }
    .padding-horizontal {
        padding-top: 0;
        padding-bottom: 0
    }
    .text-style-nowrap {
        white-space: normal
    }
    .fs-styleguide_version-details {
        font-size: .875rem
    }
    .fs-styleguide_page-header {
        margin-bottom: 0;
        padding-top: 2rem;
        padding-bottom: 2rem
    }
    .social {
        margin-bottom: 1.5rem
    }
    .social-link {
        margin-right: .625rem;
        margin-left: .625rem
    }
    .follow-text {
        margin-top: 1.375rem;
        text-align: center
    }
    .modal__close {
        top: 1rem
    }
    .modal__content {
        padding: 6rem 1.5rem 3.5rem
    }
    .remodal.remodal--global {
        height: 100%;
        max-width: 30rem
    }
}

@media screen and (max-width:479px) {
    .show-mobile-portrait {
        display: block
    }
    .hide-mobile-portrait {
        display: none
    }
    .spacing-clean {
        margin: 0;
        padding: 0
    }
    .fs-styleguide_2-col {
        -ms-grid-columns: auto;
        grid-template-columns: auto
    }
    .margin-top {
        margin-right: 0;
        margin-bottom: 0;
        margin-left: 0
    }
    .margin-bottom {
        margin-top: 0;
        margin-right: 0;
        margin-left: 0
    }
    .margin-left {
        margin-top: 0;
        margin-right: 0;
        margin-bottom: 0
    }
    .margin-right {
        margin-top: 0;
        margin-bottom: 0;
        margin-left: 0
    }
    .margin-vertical {
        margin-right: 0;
        margin-left: 0
    }
    .margin-horizontal {
        margin-top: 0;
        margin-bottom: 0
    }
    .padding-top {
        padding-right: 0;
        padding-bottom: 0;
        padding-left: 0
    }
    .padding-bottom {
        padding-top: 0;
        padding-right: 0;
        padding-left: 0
    }
    .padding-left {
        padding-top: 0;
        padding-right: 0;
        padding-bottom: 0
    }
    .padding-right {
        padding-top: 0;
        padding-bottom: 0;
        padding-left: 0
    }
    .padding-vertical {
        padding-right: 0;
        padding-left: 0
    }
    .padding-horizontal {
        padding-top: 0;
        padding-bottom: 0
    }
    .max-width-full-mobile-portrait {
        width: 100%;
        max-width: none
    }
    .follow-text {
        max-width: 14.375rem;
        -webkit-box-align: start;
        -webkit-align-items: flex-start;
        -ms-flex-align: start;
        align-items: flex-start
    }
    .follow-heart {
        top: -.4375rem;
        right: -.1875rem
    }
    .modal__content {
        height: 100%;
        -webkit-box-pack: start;
        -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center
    }
    .remodal.remodal--global {
        max-width: 100%
    }
}


/* Style modal */

.remodal-overlay {
    background: rgba(22, 22, 22, 0.9);
}

.remodal {
    transform: scale(1) !important;
}

.remodal-wrapper {
    padding: 0px;
    overflow: hidden;
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
}

body {
    padding-right: 0px !important;
}

form {
    display: flex !important
}

.w-form-done {
    display: none !important
}

.sp-form-outer {
    display: none;
}

.sp-force-hide {
    display: none;
}

.sp-form[sp-id="213647"] {
    display: block;
    background: #3a315e;
    padding: 25px;
    width: 280px;
    max-width: 100%;
    border-radius: 8px;
    border-color: #dddddd;
    border-style: solid;
    border-width: 1px;
    font-family: Noto Serif Thai;
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
}

.sp-form[sp-id="213647"] input[type="checkbox"] {
    display: inline-block;
    opacity: 1;
    visibility: visible;
}

.sp-form[sp-id="213647"] .sp-form-fields-wrapper {
    margin: 0 auto;
    width: 230px;
}

.sp-form[sp-id="213647"] .sp-form-control {
    background: #ffffff;
    border-color: #ffffff;
    border-style: solid;
    border-width: 2px;
    font-size: 15px;
    padding-left: 8.75px;
    padding-right: 8.75px;
    border-radius: 25px;
    height: 35px;
    width: 100%;
}

.sp-form[sp-id="213647"] .sp-field label {
    color: #444444;
    font-size: 13px;
    font-style: normal;
    font-weight: bold;
}

.sp-form[sp-id="213647"] .sp-button-messengers {
    border-radius: 25px;
}

.sp-form[sp-id="213647"] .sp-button {
    border-radius: 25px;
    background-color: #6643f2;
    color: #ffffff;
    width: 100%;
    font-weight: bold;
    font-style: normal;
    font-family: Noto Serif Thai;
    box-shadow: none;
}

.sp-form[sp-id="213647"] .sp-button-container {
    text-align: center;
}

@media (min-width:992px) {
    html.w-mod-js:not(.w-mod-ix) [data-w-id="438c04f2-6e55-e3a1-7812-2e05f56aeaef"] {
        display: flex;
    }
    html.w-mod-js:not(.w-mod-ix) [data-w-id="01e8db6b-e95f-c8de-ef3e-63026d07ac39"] {
        width: 0rem;
    }
    html.w-mod-js:not(.w-mod-ix) [data-w-id="6d049f1a-0ad4-b800-2e97-8e1526d5ddb8"] {
        -webkit-transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        -moz-transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        -ms-transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    }
    html.w-mod-js:not(.w-mod-ix) [data-w-id="5bb7703c-bf6b-24f1-51fd-73e69db51345"] {
        -webkit-transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        -moz-transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        -ms-transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    }
}

@media (max-width:991px) and (min-width:768px) {
    html.w-mod-js:not(.w-mod-ix) [data-w-id="438c04f2-6e55-e3a1-7812-2e05f56aeaef"] {
        display: flex;
    }
    html.w-mod-js:not(.w-mod-ix) [data-w-id="01e8db6b-e95f-c8de-ef3e-63026d07ac39"] {
        width: 0rem;
    }
    html.w-mod-js:not(.w-mod-ix) [data-w-id="6d049f1a-0ad4-b800-2e97-8e1526d5ddb8"] {
        -webkit-transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        -moz-transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        -ms-transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    }
    html.w-mod-js:not(.w-mod-ix) [data-w-id="5bb7703c-bf6b-24f1-51fd-73e69db51345"] {
        -webkit-transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        -moz-transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        -ms-transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    }
}

@media (max-width:767px) and (min-width:480px) {
    html.w-mod-js:not(.w-mod-ix) [data-w-id="438c04f2-6e55-e3a1-7812-2e05f56aeaef"] {
        display: flex;
    }
    html.w-mod-js:not(.w-mod-ix) [data-w-id="01e8db6b-e95f-c8de-ef3e-63026d07ac39"] {
        width: 0rem;
    }
    html.w-mod-js:not(.w-mod-ix) [data-w-id="6d049f1a-0ad4-b800-2e97-8e1526d5ddb8"] {
        -webkit-transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        -moz-transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        -ms-transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    }
    html.w-mod-js:not(.w-mod-ix) [data-w-id="5bb7703c-bf6b-24f1-51fd-73e69db51345"] {
        -webkit-transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        -moz-transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        -ms-transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    }
}

@media (max-width:479px) {
    html.w-mod-js:not(.w-mod-ix) [data-w-id="438c04f2-6e55-e3a1-7812-2e05f56aeaef"] {
        display: flex;
    }
    html.w-mod-js:not(.w-mod-ix) [data-w-id="01e8db6b-e95f-c8de-ef3e-63026d07ac39"] {
        width: 0rem;
    }
    html.w-mod-js:not(.w-mod-ix) [data-w-id="6d049f1a-0ad4-b800-2e97-8e1526d5ddb8"] {
        -webkit-transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        -moz-transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        -ms-transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    }
    html.w-mod-js:not(.w-mod-ix) [data-w-id="5bb7703c-bf6b-24f1-51fd-73e69db51345"] {
        -webkit-transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        -moz-transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        -ms-transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    }
}

.form__submit-result-wrap.mod--modal {
    padding-left: .6rem
}

.form__submit-arrow.mod--modal {
    bottom: -.1rem
}

.form__submit-result-ico.mod--modal {
    -webkit-filter: brightness(1000%);
    filter: brightness(1000%)
}

.form__submit-wrap.mod--modal {
    position: absolute;
    right: 0;
    bottom: .9375rem;
    z-index: 2;
    width: 2.5rem;
    height: 2.5rem
}

.form-block.mod--modal {
    margin-top: 0
}

.modal__text-wrap {
    width: auto;
    display: flex;
    /* Modern property, remove vendor prefixes */
    width: 100%;
    margin-bottom: 1rem;
    flex-direction: column;
    /* Added property for single column */
}

.modal__close {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    z-index: 5;
    width: 1.5rem;
    height: 1.5rem;
    background-image: url("https://assets.website-files.com/63285965f554791ee9971f97/634e9e291e35bb3e1ed4ea2f_ico-close-modal.svg");
    background-position: 50% 50%;
    background-size: 1.5rem;
    background-repeat: no-repeat;
    opacity: 1;
    -webkit-filter: none;
    filter: none;
    -webkit-transition: .2s;
    transition: .2s;
    cursor: pointer
}

.modal__close:hover {
    opacity: .9
}

.modal__text {
    width: auto;
    max-width: 100%;
    margin: 0;
    font-size: 1rem;
    line-height: 1rem
}

.modal__content {
    position: relative;
    z-index: 2;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    width: auto;
    padding: 2.5rem 2.5rem 2.5rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    border-radius: 1.5rem;
    -webkit-transition: .3s;
    transition: .3s
}

.modal__heading {
    width: auto;
    font-family: Noto Serif Thai;
    font-size: 1.5rem;
    line-height: 1.75rem;
    font-weight: 500
}

.modal__img {
    position: relative;
    display: block;
    width: 100%;
    height: 40%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: 50% 100%;
    object-position: 50% 100%
}


/* MY STYLES */

@-webkit-keyframes runline {
    from {
        background-position: 0% 50%;
    }
    to {
        background-position: -8000% 0%;
    }
}

.runline {
    -webkit-animation: runline 2200s linear infinite;
    -moz-animation: runline 2200s linear infinite;
    animation: runline 2200s linear infinite;
}

.social-link:hover .link-circle-hover,
.form__submit-wrap:hover .link-circle-hover {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

.form__submit-wrap:hover .form__submit-arrow:not(.mod--modal) {
    -webkit-filter: brightness(100%) invert(0%);
    filter: brightness(100%) invert(0%);
}

.hero__slider1-border {
    pointer-events: none;
}

.overflow-hidden.mod--img-heading:hover img {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

.overflow-hidden.mod--collect1:hover .img.mod--allingham {
    bottom: 0rem;
}

.popular__link:hover .popular__link-line {
    width: 100%
}

.popular__link:hover .popular__link-arrow-img.mod--hover {
    opacity: 1
}


/*Fluid responsive */

html {
    font-size: 1rem;
}

@media screen and (max-width: 1280px) {
    html {
        font-size: 1.1vw;
    }
}